@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
body {
	font-family: 'Space Mono', monospace;
	background: black;
	color: white;
	margin: 0;
	font-size: 12px;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	background: white;
	color: black;
	/*border: 2px dotted black;
	border-radius: 5px;*/
	/*transition: .2s ease-in-out;*/
}

h1 {
	font-size: 5.5rem;
	font-weight: 900;
}

h1:hover {
	  background: -webkit-linear-gradient( 45deg, aqua, yellow);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  transition: .75s ease-in-out;
}

/*h2:hover {
	  background: -webkit-linear-gradient( 45deg, aqua, yellow);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  transition-duration: .5s;
	  transition-timing-function: ease-in-out;
} */

h2 {
	font-size: 3.5rem;
	font-weight: 900;
	padding-bottom: 5px;
}

h3 {
	font-size: 1.6rem;
	font-weight: normal;
}

p {
	font-size: 1rem;
	font-weight: 10;
	letter-spacing: 0px;
	line-height: 125%;
}


.page {
	width: 100vw;
	height: 100vh;


	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.page-spacebetween {
	height: 100vh;
	flex-wrap: 100vw;
	margin: auto;
	min-height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.pic {
	height: 100vh;
	min-height: 600px;
	width: 40%;
}

.onethirdofpage {
	height: 250px;
	display: flex;
}

.twothirdofpage {
	height: 550px;
	display: flex;
}

.footer {
	height: 700px;
	line-height: 2.5;
	text-align: center;
	font-size: 18px;
	display: flex;
}

.left {
	width: 40%;
	margin: auto;
}

.right {
	width: 40%;
	margin: auto;
}

.left_inks {
	width: 49%;
	margin: auto;
}

.right_inks {
	width: 50%;
	margin: auto;
}

.center {
	width: 40%;
	margin: auto;
}

.wide {
	width: 100%
	margin-left: 10%;
}

.bold {
	font-weight: 900;
}

.page-free {
	height: 810px;
	transform: translate;
}

.inks {
	position: relative;
}

.h2-free {
	position: absolute;
	top: 15px;
	right: 50px;
	font-size: 50pt;
}

ol	{
	position: absolute;
	top: 490px;
	left: 755px;
	line-height: 150%;
	font-size: 20px;
}

.p-free {
	position: absolute;
	top: 88px;
	right: 55px;
	font-size: 11pt;
}

/* #dracula {
	position: absolute;
	top: 25px;
	left: 725px;
	z-index: 1;
	max-height: 450px;
}

#mutual {
	position: absolute;
	top: 430px;
	right: 30px;
} 

#cells {
	position: absolute;
	top: 145px;
	right: 40px;
}

#spring {
	position: absolute;
	top: 35px;
	left: 545px;
}

#moonwater {
	position: absolute;
	top: 195px;
	left: 455px;
}

#goawaysatan {
	position: absolute;
	top: 450px;
	left: 360px;
}

#tree {
	position: absolute;
	top: 37px;
	left: 4%;
	max-height: 350px;
}

#mars {
	position: absolute;
	top: 400px;
	left: 55px;
}

#view {
	position: absolute;
	top: 650px;
	left: 55px;
}
*/

div.purple {
	background: #fc3a7e;
	color: white;
}

div.white {
	background: white;
	color: black;
}

.greybg {
	background: #333;
	color: white;
}

div.grey {
	background: white;
	color: #333;
	display: flex;
}

.grey-root {
	position: relative;
}

.description {
	padding-top: 10px;
}

/*

.menu {
	height: 300px;
	align-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu a {
	color: white; 
	font-weight: 300; 
	letter-spacing: 2px; 
	text-decoration: none; 
	background: #333; 
	padding: 20px 5px; 
	display: inline-block; 
	width: 100%; 
	text-align: center; 
}

.menu a:hover {
	background-color: white;
	color: #333;
}

*/

/* responsive */


.videoWrapper {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper2 {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
  height: 0;
}
.videoWrapper2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper3 {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
  height: 0;
}
.videoWrapper3 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inkswrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */;
}

img[alt="inks"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.bigimage {
	display: flex;
	background-color: white;
}

img[wrappedman]{width: 100%;
	height: auto;
}

img[alt="wrappedman"] {
	width: 100vw;
	max-height: 600px;
	max-width: 600px;
	margin: auto;
}

#dracula {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 450px;
}

.columns {
	width: 100vw;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.column {
	width: 45vw;

	align-content: space-between;

}

.image1 {

	width: 74%;
	background-image: url(../img/left_ear-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100%;


}
.image2 {
	float: right;
	width: 74%;
	background-image: url(../img/right_ear-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100%;
}

/* .chaos {
	width: 100vw;
	height: 90vh;
	margin: auto;
	display: flex;

	background-color: #eee;
	position: relative;
	
}
.chunk1 {
	width: 100vw;

	position: absolute;
	left: 5%;
	top: 3%;
}

.chunk2 {
	width: 45vw;

	position: absolute;
	left: 47.5%;
	z-index: 1;
}

.chunk3 {
	width: 45vw;

	position: absolute;
	left: 75.5%;

}
*/

/*
.image3 {
	width: 100%;
	max-width: 350px;
	background-image: url(../img/laughmeatree.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top 5%;
	padding-bottom: 100%;
}
.image4 {
	width: 100%;
	max-width: 450px;
	background-image: url(../img/dracula.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top 10%;
	background-position: center;
	padding-bottom: 100%;
}
.image5 {
	width: 100%;
	max-width: 350px;
	background-image: url(../img/mutual.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100%;
}
*/
.responsive {
  max-width: 100%;
  height: auto;
}

.responsive2 {
  width: 100%;
  max-width: 700px;
  height: auto;
}

@media screen and (min-width: 1904px) {
	
}

@media screen and (min-width: 1264px) {
	
}

@media screen and (min-width: 960px) {
	
}

@media screen and (max-width: 768px) {
	body {
		font-size: 5px;
	}

	.page {
		flex-direction: column;
		align-items: stretch;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		}
	.purple {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.left {
	width: 70%;
	margin: auto;
	padding-bottom: 50px;
	}

	.right {
	width: 70%;
	margin: auto;
	}
	.twothirdofpage {
		flex-direction: column;
		width: 100vw;
		margin: auto;
		height: auto;
		padding-bottom: 100px;
	}
	.grey {
		flex-direction: column;
		width: 100vw;
		margin: auto;
	}
	.left_inks {
		width: 100%;
	}
	.right_inks {
		width: 100%;
	}
	img[class="responsive"] {
		width: 100%;
	}
	.columns {
		flex-direction: column;
		width: 100vw;
		padding-bottom: 50px;
	}
	.column {
		width: 100%;
	}
	.image1 {
		width: 100%;
		padding-bottom: 100%;
	}
	.image2 {
		margin-top: 100px;
		width: 100%;
		padding-bottom: 100%;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 900;
	}

	h2 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1rem;
	}

	p {
		font-size: 0.85rem;
		line-height: 125%;
	}
}