@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
body {
	font-family: 'Space Mono', monospace;
	background: black;
	color: white;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	background: white;
	color: black;
	/*border: 2px dotted black;
	border-radius: 5px;*/
	/*transition: .2s ease-in-out;*/
}

h1 {
	font-size: 65pt;
	font-weight: 900;
}

h1:hover {
	  background: -webkit-linear-gradient( 45deg, aqua, yellow);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  transition: .75s ease-in-out;
}

/*h2:hover {
	  background: -webkit-linear-gradient( 45deg, aqua, yellow);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  transition-duration: .5s;
	  transition-timing-function: ease-in-out;
} */

h2 {
	font-size: 43pt;
	font-weight: 900;
	padding-bottom: 5px;
}

h3 {
	font-size: 19pt;
	font-weight: normal;
}

p {
	font-size: 12pt;
	font-weight: 10;
	letter-spacing: 0px;
	line-height: 125%;
}


.page {
	height: 800px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.page-spacebetween {
	height: 784px;
	display: flex;
	justify-content: space-between;
}

.pic {
	height: 800px;

}

.onethirdofpage {
	height: 250px;
	display: flex;
}

.twothirdofpage {
	height: 550px;
	display: flex;
}

.footer {
	height: 700px;
	line-height: 2.5;
	text-align: center;
	font-size: 18px;
	display: flex;
}

.left {
	width: 40%;
	margin: auto;
}

.right {
	width: 40%;
	margin: auto;
}

.center {
	width: 40%;
	margin: auto;
}

.wide {
	width: 100%
	margin-left: 10%;
}

.bold {
	font-weight: 900;
}

.page-free {
	height: 810px;
	transform: translate;
}

.inks {
	position: relative;
}

.h2-free {
	position: absolute;
	top: 15px;
	right: 50px;
	font-size: 50pt;
}

ol	{
	position: absolute;
	top: 490px;
	left: 755px;
	line-height: 150%;
	font-size: 20px;
}

.p-free {
	position: absolute;
	top: 80px;
	right: 55px;
	font-size: 11pt;
}

.dracula {
	position: absolute;
	top: 25px;
	left: 725px;
	z-index: 1;
}

.mutual {
	position: absolute;
	top: 430px;
	right: 30px;
}

.cells {
	position: absolute;
	top: 150px;
	right: 40px;
}

.spring {
	position: absolute;
	top: 35px;
	left: 545px;
}

.moonwater {
	position: absolute;
	top: 195px;
	left: 455px;
}

.goawaysatan {
	position: absolute;
	top: 450px;
	left: 360px;
}

.tree {
	position: absolute;
	top: 37px;
	left: 55px;
}

.mars {
	position: absolute;
	top: 400px;
	left: 55px;
}

.view {
	position: absolute;
	top: 650px;
	left: 55px;
}

div.purple {
	background: #fc3a7e;
	color: white;
}

div.white {
	background: white;
	color: black;
}

.greybg {
	background: #333;
	color: white;
}

div.grey {
	background: white;
	color: #333;
}

.description {
	padding-top: 10px;
}

.menu {
	height: 300px;
	align-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu a {
	color: white; 
	font-weight: 300; 
	letter-spacing: 2px; 
	text-decoration: none; 
	background: #333; 
	padding: 20px 5px; 
	display: inline-block; 
	width: 100%; 
	text-align: center; 
}

.menu a:hover {
	background-color: white;
	color: #333;
}